mixin projectDetailsModal(project)
    .modal.fade(id="detailsModal-" + project._id, tabindex="-1", aria-labelledby="detailsModalLabel-" + project._id, aria-hidden="true").modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Details for #{project.reference}
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p <b>Reference:</b> #{project.reference}
                    p <b>Status:</b> #{project.status}
                    p <b>Title:</b> #{project.title}
                    p <b>Description:</b> #{project.description}
                    p <b>Environment:</b> #{project.environment}
                    p <b>Scope:</b> #{project.scope}
                    p <b>Assessor:</b> #{project.conductedBy}
                    p <b>Start Date:</b> #{project.startDate}
                    p <b>End Date:</b> #{project.endDate}
                    p <b>Creator:</b> #{project.createdBy}
                    p <b>Creation Date:</b> #{project.createdAt}
                .modal-footer
                    button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
