mixin projectsTable(projects)
    if projects.length
        table(id="projectsTable" class="display").table.table-bordered
            thead
                tr
                    th Reference
                    th Type
                    th Title 
                    th Description
                    th Status 
                    th Assessor 
                    th Created By
                    th Actions
            tbody
                    each project in projects
                        tr
                            td= project.reference
                            td= project.type
                            td= project.title
                            td= project.description
                            td= project.status
                            td= project.conductedBy
                            td= project.createdBy
                            td
                                //- Details button (opens a modal)
                                button.btn.btn-info.btn-sm(data-bs-toggle="modal" data-bs-target=`#detailsModal-${project._id}`) 
                                    i.fas.fa-search
                                //- Edit button (link to an another modal)
                                button.btn.btn-warning.btn-sm(data-bs-toggle="modal" data-bs-target=`#editProjectModal-${project._id}`)
                                    i.fas.fa-pencil-alt
                                //- Delete button (link to a delete route)
                                button.btn.btn-danger.btn-sm(data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-project-id=`${project._id}`)
                                    i.fas.fa-trash-alt
    else
        p No project available.