mixin projectsTable(projects)
    if projects.length
        table(id="projectsTable" class="display").table.table-bordered
            thead
                tr
                    th Reference
                    th Type
                    th Title 
                    th Description
                    th Status 
                    th Assessor 
                    th Created By
            tbody
                    each project in projects
                        tr(data-project-id=`${project._id}`)
                            td= project.reference
                            td= project.type
                            td= project.title
                            td= project.description
                            td= project.status
                            td= project.conductedBy
                            td= project.createdBy
    else
        p No project available.