extends ../layout.pug

block content
    h1 Admin - Users

    table(id="usersTable" class="display")
        thead
            tr
                th Username
                th Firstname 
                th Lastname
                th Email
                th Function
                th Role
                th Actions
        tbody
            each user in users
                tr
                    td= user.username
                    td= user.firstname
                    td= user.lastname
                    td= user.local.email
                    td= user.function
                    td= user.role
                    td
                        a(href=`/admin/users/${user._id}/edit`) Edit
                        form(action=`/admin/users/${user._id}/role`, method="POST")
                            select(name="role")
                                option(value="user") User
                                option(value="admin") Admin
                            button(type="submit") Update Role
    script.
        $(document).ready(function() {
            $('table').DataTable();
        });