include ../../findings/mixins/details-findings-modal
include edit-profile-modal
include change-password-modal

mixin user-profile-page
    div(class="container")
        .row
            .col-md-3
                .row.justify-content-center.border-card
                    form( id="form-container" class="d-flex p-3 flex-row justify-content-center align-items-center" action="/me/update/image" method="post" enctype="multipart/form-data" )
                        input(type="hidden" name="_csrf" value=csrfToken)
                        .profilepic
                            input(type="file" name="avatar" class="d-none" id="input-avatar")
                            img(src=user.avatar class="img-fluid profilepic__image" id="image-profile")
                    div(class="d-flex flex-column justify-content-center align-items-center")
                        p(style="font-weight: bold; font-size: 16px;")= `${ user.firstname } ${ user.lastname }`
                        p= `${ user.username } (${ user.local.email })`
                        p= `${ user.function }`
                    div(class="d-flex flex-row justify-content-center align-items-center")
                        if user.role === 'admin'
                            span(class="badge bg-danger-subtle text-danger-emphasis rounded-pill") Admin
                        else
                            span(class="badge bg-danger-subtle text-danger-emphasis rounded-pill") User
                    hr(class="mt-3")
                    .row.justify-content-center
                        .col-sm-4
                            button.btn.btn-outline-primary(data-bs-toggle="modal" data-bs-target="#updateDetailsModal")
                                span(data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Update Profile")
                                a(href="#" data-bs-toggle="tooltip" data-bs-title="Edit Profile")
                                    img(src="https://www.svgrepo.com/show/497963/edit.svg" alt="Edit" width="20" height="20")
                        .col-sm-4
                            button.btn.btn-outline-primary(data-bs-toggle="modal" data-bs-target="#updatePasswordModal")
                                a(href="#" data-bs-toggle="tooltip" data-bs-title="Change Password")
                                    img(src="https://www.svgrepo.com/show/526623/password-minimalistic-input.svg" alt="Password" width="20" height="20")
                        .col-sm-4
                            if user.twoFAEnabled
                                button.btn.btn-outline-danger(data-bs-toggle="modal" data-bs-target="#disable2FAModal")
                                    a(href="#" data-bs-toggle="tooltip" data-bs-title="Disable 2FA")
                                        img(src="https://www.svgrepo.com/show/493779/key.svg" alt="2FA" width="20" height="20")
                            else 
                                button.btn.btn-outline-success(data-bs-toggle="modal" data-bs-target="#setup2FAModal")
                                    a(href="#" data-bs-toggle="tooltip" data-bs-title="Enable 2FA")
                                        img(src="https://www.svgrepo.com/show/493779/key.svg" alt="2FA" width="20" height="20")                            
            .col-md-4
                .border-card
                    .card-body
                        .row
                            .col-sm-3 
                                p.mb-0 Full Name
                            .col-sm-9
                                P.text-muted.mb-0= `${user.firstname } ${user.lastname }`
                        hr
                        .row
                            .col-sm-3 
                                p.mb-0 Username
                            .col-sm-9
                                P.text-muted.mb-0= `${user.username }`
                        hr
                        .row
                            .col-sm-3 
                                p.mb-0 Email
                            .col-sm-9
                                P.text-muted.mb-0= `${user.local.email}`
                        hr
                        .row
                            .col-sm-3 
                                p.mb-0 Phone
                            .col-sm-9
                                P.text-muted.mb-0= `${user.phone}`
                        hr
                        .row
                            .col-sm-3 
                                p.mb-0 Function
                            .col-sm-9
                                P.text-muted.mb-0= `${user.function}`
                        hr
                        .row
                            .col-sm-3 
                                p.mb-0 Bio
                            .col-sm-9
                                P.text-muted.mb-0= `${user.bio}`
                .row.justify-content-center.border-card
                    .user-last-logins
                        div(style="display: flex; flex-direction: column; align-items: left;" )
                            h2= "Last logins"
                            if logs && logs.length
                                ul
                                    each log, index in logs.slice(0, 5)
                                        li= log.attemptedAction + ' (' + log.status + ') at ' + log.formattedTimestamp + ' from IP ' + log.clientIP
                            else
                                p No logs available.
                            button.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#logModal') More
                            div.modal.fade#logModal(tabindex='-1', aria-labelledby='logModalLabel', aria-hidden='true')
                                div.modal-dialog.modal-dialog-scrollable
                                    div.modal-content
                                        div.modal-header
                                            h5.modal-title#logModalLabel Logs Details (last 50 events)
                                            button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                                        div.modal-body
                                            ul
                                                each log in logs
                                                    li= log.attemptedAction + ' (' + log.status + ') at ' + log.formattedTimestamp + ' from IP ' + log.clientIP
                                        div.modal-footer
                                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
            .col-md-5
                .row.justify-content-center.border-card
                    .user-created-findings
                        div(style="display: flex; align-items: center;" )
                            span(class="badge text-bg-primary rounded-pill") #{createdFindings.length}
                            h2= "Findings created by me"
                        div(id="findingsListCreated")
                            each finding in createdFindings
                                .finding-card.paginatable-created-finding
                                    - var badgeClass;
                                        case finding.severity
                                            when 'Critical'
                                                - badgeClass = 'bg-darkred';
                                            when 'High'
                                                - badgeClass = 'bg-danger';
                                            when 'Medium'
                                                - badgeClass = 'bg-warning';
                                            when 'Low'
                                                - badgeClass = 'bg-success';
                                            when 'Info'
                                                - badgeClass = 'bg-primary';
                                            default
                                                - badgeClass = 'bg-secondary';
                                    p
                                        span(class="badge " + badgeClass + " rounded-pill")
                                            a(class="flat-link" href="#" data-bs-toggle="modal" data-bs-target="#detailsModal-" + finding._id)
                                                strong= finding.reference
                                        | #{' '}
                                        = finding.title
                                +detailsModal(finding)
                        nav(aria-label="Page navigation")
                            ul(class="pagination justify-content-center")
                                li(class="page-item")
                                    a(class="page-link" href="#" id="prevPage-created") Previous
                                li(class="page-item")
                                    a(class="page-link" href="#" id="nextPage-created") Next
                .row.justify-content-center.border-card
                    .user-assigned-findings
                        div(style="display: flex; align-items: center;" )
                            span(class="badge text-bg-primary rounded-pill") #{assignedFindings.length}
                            h2= "Findings assigned to me"
                        div(id="findingsList")  
                            each finding in assignedFindings
                                .finding-card.paginatable-assigned-finding
                                    - var badgeClass;
                                        case finding.severity
                                            when 'Critical'
                                                - badgeClass = 'bg-darkred';
                                            when 'High'
                                                - badgeClass = 'bg-danger';
                                            when 'Medium'
                                                - badgeClass = 'bg-warning';
                                            when 'Low'
                                                - badgeClass = 'bg-success';
                                            when 'Info'
                                                - badgeClass = 'bg-primary';
                                            default
                                                - badgeClass = 'bg-secondary';
                                    p
                                        span(class="badge " + badgeClass + " rounded-pill")
                                            a(class="flat-link" href="#" data-bs-toggle="modal" data-bs-target="#detailsModal-" + finding._id)
                                                strong= finding.reference
                                        | #{' '}
                                        = finding.title
                                +detailsModal(finding)
                        nav(aria-label="Page navigation")
                            ul(class="pagination justify-content-center")
                                li(class="page-item")
                                    a(class="page-link" href="#" id="prevPage") Previous
                                li(class="page-item")
                                    a(class="page-link" href="#" id="nextPage") Next               
                +edit-profile-modal
                +change-password-modal
            script(src="/javascripts/profile-assigned.js")
            script(src="/javascripts/profile-created.js")
                             