mixin editProductModal(product)
    .modal.fade(id=`editProductModal-${product._id}`, tabindex="-1", aria-labelledby=`editProductModalLabel-${product._id}`, aria-hidden="true")
        .modal-dialog
            .modal-content
                form(action=`/admin/products/${product._id}/edit` method="post")
                    .modal-header
                        h5.modal-title Edit Product #{product.reference}
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        .mb-3
                            label(for="reference") Reference
                            input#reference.form-control(type="text" name="reference" value= product.reference required)
                        .mb-3
                            label(for="Name") Name
                            input#Name.form-control(type="text" name="Name" value= product.name required)
                        .mb-3
                            label(for="status") Status
                            select#status.form-control(name="status" required)
                                option(value="Live" selected=(product.status === 'Live')) Live
                                option(value="Retired" selected=(product.status === 'Retired')) Retired
                                option(value="Under Development" selected=(product.status === 'Under Development')) Under Development
                        .mb-3
                            label(for="description") Description
                            textarea#description.form-control(name="description" rows="5" required)= product.description
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        button.btn.btn-primary(type="submit") Save Changes
