mixin productsTable(products)
    if products.length
        table(id="productsTable" class="display").table.table-bordered
            thead
                tr
                    th Reference
                    th Status
                    th Name 
                    th Description
            tbody
                    each product in products
                        tr(data-product-id=`${product._id}`)
                            td= product.reference
                            td= product.status
                            td= product.name
                            td= product.description
    else
        p No product available.