extends ../layout.pug

block content
    h1 Projects (Work in Progress)

    each project in projects
        .card.mb-3
            .card-header(data-bs-toggle="collapse" data-bs-target=`#collapse-${project._id}` style='cursor:pointer;')
                h5.card-title [#{project.reference}] - #{project.title} - <i>#{project.status}</i>
                p.card-text
                    small.text-muted Created on #{project.createdAt.toLocaleDateString()} by #{project.createdBy} - Last updated on #{project.updatedAt.toLocaleDateString()}
            .collapse(id=`collapse-${project._id}`)
                .card-body
                    .row
                        .col-md-3
                            ul.list-group.list-group-flush
                                li.list-group-item <b>Description:</b> #{project.description}
                                li.list-group-item <b>Assessor:</b> #{project.conductedBy}
                                li.list-group-item <b>Scope:</b> #{project.scope ? project.scope : 'TBD'}
                                li.list-group-item <b>Environment:</b> #{project.environment}
                                if (project.startDate)
                                    li.list-group-item <b>Start Date:</b> #{project.startDate.toLocaleDateString()}
                                else
                                    li.list-group-item <b>Start Date:</b> TBD
                                if (project.endDate)
                                    li.list-group-item <b>End Date:</b> #{project.endDate.toLocaleDateString()}
                                else
                                    li.list-group-item <b>End Date:</b> TBD
                        .col-md-1
                            .project-card-container
                                .card.text-bg-primary
                                    .card-header Open Findings
                                    .card-body
                                        h1(id=`findingsCount-${project._id}`)
                        .col-md-1
                            .project-card-container
                                .card.bg-darkred
                                    .card-header Critical
                                    .card-body
                                        h1(id=`criticalFindingsCount-${project._id}`)
                        .col-md-1
                            .project-card-container
                                .card.text-bg-danger
                                    .card-header High
                                    .card-body
                                        h1(id=`highFindingsCount-${project._id}`)
                        .col-md-1
                            .project-card-container
                                .card.text-bg-warning
                                    .card-header Medium
                                    .card-body
                                        h1(id=`mediumFindingsCount-${project._id}`)
                        .col-md-1
                            .project-card-container
                                .card.text-bg-success
                                    .card-header Low
                                    .card-body
                                        h1(id=`lowFindingsCount-${project._id}`)
                        .col-md-1
                            .project-card-container
                                .card.text-bg-info
                                    .card-header Info
                                    .card-body
                                        h1(id=`infoFindingsCount-${project._id}`)
                        .col-md-1
                            .project-card-container
                                .card.text-bg-secondary
                                    .card-header Closed
                                    .card-body
                                        h1(id=`closedFindingsCount-${project._id}`)
    script.
        const findings = !{JSON.stringify(findings)};
        const projects = !{JSON.stringify(projects)};
    script(src='/javascripts/projectsCards.js')