mixin usersTable(users)
    table(id="usersTable" class="display").table.table-bordered
        thead
            tr
                th Username
                th Firstname 
                th Lastname
                th Email
                th Function
                th Role
        tbody
            each user in users
                tr(data-user-id=`${user._id}`)
                    td= user.username
                    td= user.firstname
                    td= user.lastname
                    td= user.local.email
                    td= user.function
                    td= user.role
