mixin deleteFindingConfirmationModal(finding)
    .modal.fade(id=`deleteFindingConfirmationModal-${finding._id}`, tabindex="-1", aria-labelledby=`deleteFindingConfirmationModal-${finding._id}`, aria-hidden="true")
        .modal-dialog
            .modal-content
                form(action=`/findings/${finding._id}/delete` method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    .modal-header
                        h5#deleteFindingModalLabel.modal-title Confirm Deletion
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        p Are you sure you want to delete the <b>#{finding.reference}</b> finding? 
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        form#deleteFindingForm(method="post" action="#" style="display: inline;")
                            button.btn.btn-danger(type="submit") Delete
