mixin detailsModal(finding)
    .modal.fade(id="detailsModal-" + finding._id, tabindex="-1", aria-labelledby="detailsModalLabel-" + finding._id, aria-hidden="true").modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Details for #{finding.reference}
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p Reference: #{finding.reference}
                    p Project: #{finding.project}
                    p Status: #{finding.status}
                    p Assignee: #{finding.assignee}
                    p Origin: #{finding.origin}
                    p Title: #{finding.title}
                    p Type: #{finding.type}
                    p Description: #{finding.description}
                    p Severity: #{finding.severity}
                    p Reported By: #{finding.reportedBy}
                    p CVE: #{finding.cve}
                    p CVSS: #{finding.cvss}
                .modal-footer
                    button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close