mixin detailsModal(finding)
    .modal.fade(id="detailsModal-" + finding._id, tabindex="-1", aria-labelledby="detailsModalLabel-" + finding._id, aria-hidden="true").modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Details for #{finding.reference}
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                    p <b>Reference:</b> #{finding.reference}
                    p <b>Project:</b> #{finding.project}
                    p <b>Status:</b> #{finding.status}
                    p <b>Assignee:</b> #{finding.assignee}
                    p <b>Origin:</b> #{finding.origin}
                    p <b>Title:</b> #{finding.title}
                    p <b>Type:</b> #{finding.type}
                    p <b>Description:</b> #{finding.description}
                    p <b>Severity:</b> #{finding.severity}
                    p <b>Reported By:</b> #{finding.reportedBy}
                    p <b>CVE:</b> #{finding.cve}
                    p <b>CVSS:</b> #{finding.cvss}
                    if finding.attachment
                        p <b>Attachment:</b>
                            a(href=`/public/files/attachments/${finding.attachment}`) Download
                .modal-footer
                    button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close