mixin editFindingModal(finding)
    .modal.fade(id=`editFindingModal-${finding._id}`, tabindex="-1", aria-labelledby=`editFindingModalLabel-${finding._id}`, aria-hidden="true")
        .modal-dialog
            .modal-content
                form(action=`/findings/${finding._id}/edit` method="post")
                    .modal-header
                        h5.modal-title Edit Finding #{finding.reference}
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        .mb-3
                            label(for="reference") Reference
                            input#reference.form-control(type="text" name="reference" value= finding.reference required)
                        .mb-3
                            label(for="title") Title
                            input#title.form-control(type="text" name="title" value= finding.title required)
                        .mb-3
                            label(for="type") Finding Type
                            select#type.form-control(name="type")
                                option(value="Configuration Issues" selected=(finding.type === 'Configuration Issues')) Configuration Issues
                                option(value="Authentication & Authorization Issues" selected=(finding.type === 'Authentication & Authorization Issues')) Authentication & Authorization Issues
                                option(value="Injection Flaws" selected=(finding.type === 'Injection Flaws')) Injection Flaws
                                option(value="Sensitive Data Exposure" selected=(finding.type === 'Sensitive Data Exposure')) Sensitive Data Exposure
                                option(value="Cross-Site Scripting (XSS)" selected=(finding.type === 'Cross-Site Scripting (XSS)')) Cross-Site Scripting (XSS)
                                option(value="Cross-Site Request Forgery (CSRF)" selected=(finding.type === 'Cross-Site Request Forgery (CSRF)')) Cross-Site Request Forgery (CSRF)
                                option(value="Unvalidated Redirects and Forwards" selected=(finding.type === 'Unvalidated Redirects and Forwards')) Unvalidated Redirects and Forwards
                                option(value="Session Management Issues" selected=(finding.type === 'Session Management Issues')) Session Management Issues
                                option(value="Insecure Deserialization" selected=(finding.type === 'Insecure Deserialization')) Insecure Deserialization
                                option(value="Server Vulnerabilities" selected=(finding.type === 'Server Vulnerabilities')) Server Vulnerabilities
                                option(value="Third-party Component Vulnerabilities" selected=(finding.type === 'Third-party Component Vulnerabilities')) Third-party Component Vulnerabilities
                                option(value="Business Logic Flaws" selected=(finding.type === 'Business Logic Flaws')) Business Logic Flaws
                        .mb-3
                            label(for="description") Description
                            textarea#description.form-control(name="description" rows="5" required)= finding.description
                        .mb-3
                            label(for="severity") Severity
                            select#severity.form-control(name="severity")
                                option(value="Critical" selected=(finding.severity === 'Critical')) Critical
                                option(value="High" selected=(finding.severity === 'High')) High
                                option(value="Medium" selected=(finding.severity === 'Medium')) Medium
                                option(value="Low" selected=(finding.severity === 'Low')) Low
                                option(value="Info" selected=(finding.severity === 'Info')) Info
                        .mb-3
                            label(for="status") Status
                            select#status.form-control(name="status")
                                option(value="In Remediation" selected=(finding.status === 'In Remediation')) In Remediation
                                option(value="Remediated" selected=(finding.status === 'Remediated')) Remediated
                                option(value="Accepted" selected=(finding.status === 'Accepted')) Accepted
                                option(value="Declined" selected=(finding.status === 'Declined')) Declined

                        .mb-3
                            label(for="assignee") Assignee
                            input#assignee.form-control(type="text" name="assignee" value= finding.assignee)
                        .mb-3
                            label(for="origin") Origin
                            input#origin.form-control(type="text" name="origin" value= finding.origin)
                        .mb-3
                            label(for="reportedBy") Reported By
                            input#reportedBy.form-control(type="text" name="reportedBy" value= finding.reportedBy)
                        .mb-3
                            label(for="cve") CVE
                            input#cve.form-control(type="text" name="cve" value= finding.cve)
                        .mb-3
                            label(for="cvss") CVSS
                            input#cvss.form-control(type="text" name="cvss" value= finding.cvss)
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        button.btn.btn-primary(type="submit") Save Changes
