
mixin findingsTable(findings)
    if findings.length
      div(class="table-findings")
        table(id="findingsTable" class="display").table.table-bordered
            thead
                tr
                    th Reference
                    th Project
                    th Title
                    th Type
                    th Severity
                    th Status
                    th Assignee
                    th Origin
                    th Reported By
                    th CVE
                    th CVSS
                    th Due Date
                    th SLA Breached
                    th Actions
            tbody
                each finding in findings
                    //- Variable to store the class for the severity column
                    - var severityClass;
                    if finding.severity === 'Critical'
                        - severityClass = 'bg-darkred text-white'
                    else if finding.severity === 'High'
                        - severityClass = 'bg-danger text-white'
                    else if finding.severity === 'Medium'
                        - severityClass = 'bg-warning'
                    else if finding.severity === 'Low'
                        - severityClass = 'bg-success text-white'
                    else if finding.severity === 'Info'
                        - severityClass = 'bg-primary text-white'
                    else
                        - severityClass = ''

                    //- Variable to store the class for the due date column
                    - var overDueClass;
                    if finding.isOverdue === true
                        - overDueClass = 'bg-danger text-white'
                    else
                        - overDueClass = ''

                    //- Table content
                    tr(data-finding-id=`${finding._id}`)
                        td= finding.reference
                        td= finding.project
                        td= finding.title
                        td= finding.type
                        td(class=severityClass)= finding.severity
                        td= finding.status
                        td= finding.assignee
                        td= finding.origin
                        td= finding.reportedBy
                        td= finding.cve
                        td= finding.cvss
                        td(class=overDueClass)= `${finding.dueDate.toDateString()}`
                        td= finding.isOverdue
                        td
                            //- View button
                            button.btn.btn-info.btn-sm(data-bs-toggle="modal" data-bs-target=`#detailsModal-${finding._id}`)
                                i.fas.fa-search
                            //- Edit button
                            button.btn.btn-warning.btn-sm(data-bs-toggle="modal" data-bs-target=`#editFindingModal-${finding._id}`)
                                i.fas.fa-pencil-alt
                            button.btn.btn-danger.btn-sm(data-bs-toggle="modal" data-bs-target=`#deleteFindingConfirmationModal-${finding._id}`)
                                i.fas.fa-trash-alt
                        
                    +detailsModal(finding)
    else
        p No findings available.