mixin newFindingModal(finding, products)
    .modal.fade(id="newFindingModal" tabindex="-1" aria-labelledby="newFindingModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                form(action="/findings/new-finding" method="post" enctype='multipart/form-data')
                    .modal-header
                        h5#newFindingModalLabel.modal-title New Finding
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    .modal-body
                        .row
                            .col-md-6
                                .mb-3
                                    label(for="reference") <b>Reference</b>
                                    input#reference.form-control(minlength="1" maxlength="12" type="text" name="reference" placeholder="e.g. Ticket-ID" required onchange="validateFindingReference()")
                                    span#referenceError.error-message(style='color: red; display: none;')

                                .mb-3
                                    label(for="assignee") <b>Assignee</b>
                                    select#assignee.form-control(name="assignee")
                                        each user in users
                                            option(value=user.username)= `${user.username} (${user.firstname} ${user.lastname})`
                                .mb-3
                                    label(for="origin") <b>Origin</b>
                                    select#origin.form-control(name="origin")
                                        option(value="WAPT") WAPT (Web Application Penetration Test)
                                        option(value="MAPT") MAPT (Mobile Application Penetration Test)
                                        option(value="NVA") NVA (Network Vulnerability Assessment)
                                        option(value="BBP") BBP (Bug Bounty Program)
                                .mb-3
                                    label(for="product") <b>Product</b>
                                    select#product.form-control(name="product")
                                        option(value="None") None (General Finding or triage)
                                        if products && products.length
                                            each product in products
                                                option(value=product.reference) #{product.reference} (#{product.name})
                                .mb-3
                                    label(for="title") <b>Title</b>
                                    input#title.form-control(minlength="3" maxlength="50" type="text" name="title" placeholder="e.g. SXSS in the blog component" required)
                                .mb-3
                                    .mb-3
                                    label(for="type") <b>Type</b>
                                    select#type.form-control(name="type")
                                        option(value="Configuration Issues") Configuration Issues
                                        option(value="Authentication & Authorization Issues") Authentication & Authorization Issues
                                        option(value="Injection Flaws") Injection Flaws
                                        option(value="Sensitive Data Exposure") Sensitive Data Exposure
                                        option(value="Cross-Site Scripting (XSS)") Cross-Site Scripting (XSS)
                                        option(value="Cross-Site Request Forgery (CSRF)") Cross-Site Request Forgery (CSRF)
                                        option(value="Unvalidated Redirects and Forwards") Unvalidated Redirects and Forwards
                                        option(value="Session Management Issues") Session Management Issues
                                        option(value="Insecure Deserialization") Insecure Deserialization
                                        option(value="Server Vulnerabilities") Server Vulnerabilities
                                        option(value="Third-party Component Vulnerabilities") Third-party Component Vulnerabilities
                                        option(value="Business Logic Flaws") Business Logic Flaws
                                .mb-3
                                    label(for="description") <b>Description</b>
                                    textarea#description.form-control(minlength="5" maxlength="2000" name="description" placeholder="e.g. There is a Stored XSS in the blog application" required)
                                .mb-3
                                    label(for="reportedBy") <b>Reported By</b>
                                    input#reportedBy.form-control(type="text" name="reportedBy" placeholder="e.g. John Smith")
                            .col-md-6
                                .mb-3
                                    label(for="project") <b>Project</b>
                                    select#project.form-control(name="project")
                                        option(value="None") None (General Finding or triage)
                                        if projects && projects.length
                                            each project in projects
                                                option(value=project.reference)= project.reference
                                .mb-3
                                    label(for="status") <b>Status</b>
                                    select#status.form-control(name="status")
                                        option(value="In Remediation") In Remediation
                                        option(value="Remediated") Remediated
                                        option(value="Accepted") Accepted
                                        option(value="Declined") Declined
                                .mb-3
                                    label(for="severity") <b>Severity</b>
                                    select.severity-dropdown.form-control(name="severity")
                                        option(value="Critical") Critical
                                        option(value="High") High
                                        option(value="Medium") Medium
                                        option(value="Low") Low
                                        option(value="Info") Info
                                .mb-3
                                    label(for="cve") <b>CVE</b>
                                    input#cve.form-control(type="text" name="cve" placeholder="CVE-2023-1234")
                                .mb-3
                                    label(for="cvss") <b>CVSS</b>
                                    input#cvss.form-control(type="text" name="cvss" placeholder="CVSS 3.0 Base Score")
                                .mb-3 
                                    label(for="dueDate") <b>Due Date</b>
                                    input.due-date-input.form-control(type="date" name="dueDate")
                                .mb-3
                                    label(for="attachment") <b>Attachment</b>
                                    input#attachment.form-control(type="file" name="attachment")
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
                        button.btn.btn-primary(id="submitBtn" type="submit") Create Finding